.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.h-fit {
  height: fit-content;
}

.w-100 {
  width: 100%;
}

.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}

.my-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}