.main-container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer"
  ;
  // height: 100vh;
  grid-template-rows: 10vh 80vh 10vh;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  width: 70%;
  margin: 10px auto;
}

.footer {
  grid-area: footer;
}