<div [ngSwitch]="step" *ngIf="!loading; else loadingState">
  <div *ngSwitchCase="0">
    <form [formGroup]="form">
      <mat-form-field class="w-100">
        <mat-label>Dias trabalhados</mat-label>
        <input matInput formControlName="workedDays">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Horas extras</mat-label>
        <input matInput formControlName="overtime">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Faltas</mat-label>
        <input matInput formControlName="absence">
      </mat-form-field>
      <div class="text-align-end">
        <button mat-raised-button color="accent" (click)="onCancel()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onNext()">Gerar</button>
      </div>
    </form>
  </div>
  <div *ngSwitchCase="1">
    <div class="text-align-center">
      <h4>Seu recibo está pronto!</h4>
      <button mat-raised-button color="primary" (click)="onDownload()">Baixar Holerite</button>
    </div>
  </div>
</div>

<ng-template #loadingState>
  <div>
    <mat-spinner class="mx-auto"></mat-spinner>
  </div>
</ng-template>